*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /*background-color: #161370;*/
}

body {
    display: flex;
    flex-direction: column;
    background-color: lightgray;
}

header {
    display: flex;
    justify-content: center;
    flex-grow: 3;
    font-size: 40px;
    border: solid #2707F1;
    border-right: none;
    border-left: none;
    color: #2707F1;
    font-style: arial;
    background-color: orangered;
    text-shadow: 1px 1px lightgray;
    padding: 10px;
    
}

section {
    display: flex;
    justify-content: center;
}

aside {
    display: flex;
    flex-direction: column;
}

#toggle_form {
    display: flex;
    flex-direction: column;
    justify-content: left;
}

#toggle_form h2 {
   color: #2707F1;
}

#toggle_form button {
    font-size: 15px;
    background-color: #2707F1;
    color: white;
    margin: 5px;
}

#auth_form {
    display: flex;
    font-size: 15px;
    color: #2707F1;
    font-style: arial;
    margin-left: 20px;
    margin-bottom: 10px;
}

#new-post-h2 {
    font-size: 20px;
    color: #2707F1;
}

.make-post {
    display: flex;
    justify-content: space-between;
}

.new-post-box {
    display: flex;
    margin-left: 20px;
}

#error-message {
    color: red;
}

.newPost {
    margin: 10px;
    padding: 10px;
    background-color: white;
    border: inset #2707F1;
}

#post-title {
    font-size: 20px;
    font-weight: bolder;
    color: #2707F1;
}

#send-post-message, #submit-post {
    font-size: 15px;
    background-color: #2707F1;
    color: white;
    margin: 5px;
}

header h1 {
    text-align: center;
}

.search {
    width: 100vw;
}

/*why is this not centered?*/
.search .search-form {
    width: 20%;
    margin: auto;

    /*
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    */
}


.search .search-form #search-field {
    flex: 0 1 70%;
}



